---
import Layout from "@layouts/Layout.astro"
import Hero from "@components/Hero.astro"
import Projects from "@components/Projects.astro"
import Container from "@components/Container.astro"
import Education from "@components/Education.astro"
import Experience from "@components/Experience.astro"
---



<Layout
	title="Diego's Portfolio"
	description="Welcome to my portfolio! I'm a passionate software developer with a knack for creating innovative solutions."
>
	<main class="flex flex-col items-center w-full max-w-3xl p-6 md:p-10 lg:py-16 gap-16 lg:px-0 lg:gap-28">
		<Container>
			<Hero />
		</Container>
		<Container id="projects">
			<Projects />
		</Container>
		<Container id="education">
			<Education />
		</Container>
		<Container id="experience">
			<Experience />
		</Container>
	</main>
</Layout>
