---
import SocialLink from "./SocialLink.astro";
---

<section>
    <div>
        <div>
            <img src="diegovasquez.webp" alt="Diego Vasquez" />
        </div>
        <div>
            <h1>Hi, I'm <span>Diego</span></h1>
        </div>
    </div>
    <p>
        Junior <strong>Full-Stack Developer</strong> with a solid foundation in web development and experience in problem-solving and customer support. Passionate about developing <strong>scalable applications</strong>, learning new technologies, and creating <strong>user-centered solutions</strong>. Fluent in Spanish and English.
    </p>
    <nav>
        <SocialLink href="mailto:diegovasquezmejia1999@gmail.com">
            Contact Me
        </SocialLink>
        <SocialLink href="https://github.com/davm07/">
            GitHub
        </SocialLink>
        <SocialLink href="https://www.linkedin.com/in/diego-vasquez-mejia/">
            LinkedIn
        </SocialLink>
    </nav>
</section>