<a
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
    class="inline-flex items-center justify-center gap-2 px-4 py-1.5 rounded-full border bg-gray-800 border-gray-600 focus-visible:ring-violet-400/80 hover:bg-gray-100 hover:border-gray-300 hover:text-black transition-all group max-w-fit"
>
    <slot/>
</a>