---
import projectData from "@data/projects.json";
import ProjectItem from "./ProjectItem.astro";
import SectionTitle from "./SectionTitle.astro";
import ProjectIcon from "./icons/ProjectIcon.astro";
---

<div>
    <SectionTitle>
        <ProjectIcon class="size-6 text-blue-400/70"/>
        Projects
    </SectionTitle>
    {
        projectData.map((project) => (
            <ProjectItem project={project} />
        ))
    }
</div>