<div class="mb-8">
  <h3
    class="flex items-center text-3xl font-bold tracking-tight gap-x-3 highlight-text"
  >
    <slot />
  </h3>
  <div
    class="mt-3 h-px w-20 bg-linear-to-r from-blue-400/70 to-transparent"
    aria-hidden="true"
  >
  </div>
</div>